<div class="p-12">
  <!-- Header -->
  <h1 class="text-5xl font-bold mb-6">Fachformular</h1>
  @if (isUpdatingSubject) {
    <div class="flex flex-col md:flex-row justify-between items-center">
      <h3 class="text-2xl font-semibold text-gray-800 mb-6">Bearbeite hier dein Fach</h3>
      <button class="bg-red-500 rounded-full px-6 py-2 hover:bg-red-600 transition w-max"
              (click)="deleteSubject()">
        <span class="text-white">Fach löschen</span>
      </button>
    </div>
  } @else {
    <h3 class="text-2xl font-semibold text-gray-800 mb-6">Erstelle hier ein unglaublich cooles Fach!</h3>
  }

  <!-- Subject Form -->
  <form [formGroup]="subjectForm" (ngSubmit)="submitForm()" class="space-y-6">
    <input type="hidden" formControlName="id"/>
    <div class="flex flex-col space-y-2">
      <label for="title" class="font-medium text-gray-700">Fachtitel</label>
      <input
        id="title"
        formControlName="title"
        class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-lila-accent focus:border-lila-accent transition duration-200"
      />
      @if (errors['title']) {
        <p class="text-red-500 text-sm">{{ errors['title'] }}</p>
      }
    </div>
    <div class="flex flex-col space-y-2">
      <label for="description" class="font-medium text-gray-700">Fachbeschreibung</label>
      <textarea
        id="description"
        formControlName="description"
        rows="4"
        class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-lila-accent focus:border-lila-accent transition duration-200"
      ></textarea>
      @if (errors['description']) {
        <p class="text-red-500 text-sm">{{ errors['description'] }}</p>
      }
    </div>
    <button
      [disabled]="subjectForm.invalid"
      type="submit"
      class="bg-yellow text-gray-800 px-6 py-2 rounded-full hover:bg-yellow-strong disabled:opacity-50 disabled:cursor-not-allowed transition w-max"
    >
      Speichern
    </button>
  </form>
</div>
